<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="layout.css">
    </head>
    <body>
        <h1>WRITE A NEW POST</h1>
        <div class="form">
        <form method="post" action="/home">
            <input name="username" placeholder="enter your user name"></br></br>
            <textarea rows="20" cols="80" name="content" placeholder="write your post"></textarea></br></br>
            <button>submit</button>
        </form>
        </div>
    </body>
</html>