<html>
    <head>
        <title>show</title>
        <link rel="stylesheet" href="/layout.css">
    </head>
    <body>
        <h1>HERE IS YOUR POST IN DETAIL</h1>
        <p>post id: <%=post.id%></p>
        <div class="post">
            <h2 class="user"><%=post.username%></h3>
            <h4 class="content"><%=post.content%></h4>

        </div>
    </br>
        <a class="a" href="/home">-BACK TO HOME </a>
    </body>
</html>